@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #112f63;
}

footer{
    width: 100%;
    display: flex;
    z-index: 2000;
    padding: 20px 50px;
    /* width and color */
    background-color: rgba(0,0,0,0.2);
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2000;
    padding: 20px 50px;
    background-color: rgba(0,0,0,0.2);
}

header .logo{
    position: relative;
    font-size: 2em;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 2px #000;
}

header ul li{
    position: relative;
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

section{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.background_banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.background_banner .photoBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background_banner .photoBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.8s;
    background-position: center;
    filter: blur(2px);
}

.background_banner .photoBox img.active{
    opacity: 1;
}

.controls{
    position: absolute;
    left: 45%;
    bottom: 0;
    width: 10%;
    height: 10%;
}

.controls li{
    position: relative;
    width: 80px;
    border-radius: 40px;
    height: 80px;
    background: #0077ff;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.controls li:hover{
    background: aliceblue;
}

.controls li:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    transform: rotate(315deg);
}
.reverse li:before{
    transform: rotate(135deg);
}

.contentBox{
    position: absolute;
    bottom: 20%;
    left: 15%;
    width: 70%;
    max-width: 85%;
    max-height: 70%;
    color: azure;
    display: block;
    font-size: 1.9em;
    padding: 20px 80px 20px 80px;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 5px;
    box-shadow: 0 0 25px 10px rgba(0,0,0,0.6);
}

.form_box{
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.recruit_form h2{
    font-size: 1.5em;
}

.recruit_form fieldset{
    border: 0 none;
    border-radius: 4px;

    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    left: 0;
}

.recruit_form input{
    padding: 12px;
    border: 1px solid #ccc;
    width: 100%;
}

.recruit_form input .submit_button{
    width: 100px;
    background-color: #0077ff;
    font-weight: bold;
    border: 0 none;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.recruit_form input .submit_button:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #16bdda;
}

.blue_text{
    color: #3e89fa;
    font-weight: bold;
}
.green_text{
    color: #31da0b;
    font-weight: bold;
}

.link_box{
    padding: 10px 5px 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link_box a{
    width:165px;
    height:40px;
}

@media only screen and (max-width: 1600px) {
    .contentBox {
        font-size: 1.6em;
        padding: 10px 20px 10px 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .contentBox {
        font-size: 1.5em;
        padding: 10px 20px 10px 20px;
    }
}

@media only screen and (max-width: 800px) {
    .contentBox {
        font-size: 1.3em;
        padding: 10px 20px 10px 20px;
    }
}

@media only screen and (max-width: 600px) {
    .contentBox {
        font-size: 1em;
        padding: 10px 10px 10px 10px;
    }
}

