/* crops animations that exceeds one line area */
.line {
    overflow: hidden;
}

/* lineup class and keyframes */
.lineUp {
    transition-delay: 1s;
    animation: 1.8s anim-lineUp ease-out;
}

.lineUpHidden{

    opacity: 0;
}


@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


@keyframes anim-lineUp-hide {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    20% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: translateY(-80%);
    }
    100% {
        opacity: 0;
        transform: translateY(-80%);
    }
}